 NET "clk" LOC = "T8";
 NET "pixel[0]" LOC = "K16";
 NET "pixel[1]" LOC = "J16";
 NET "pixel[2]" LOC = "L16";
 NET "pixel[3]" LOC = "K15";
 NET "pixel[4]" LOC = "M15";
 NET "pixel[5]" LOC = "M16";
 NET "pixel[6]" LOC = "P16";
 NET "pixel[7]" LOC = "N16";
 NET "pclk"     LOC = "P15" | CLOCK_DEDICATED_ROUTE = FALSE;
 NET "xclk"     LOC = "R16";
 NET "Hsync"    LOC = "R15" | CLOCK_DEDICATED_ROUTE = FALSE;
 NET "Vsync"    LOC = "T15" | CLOCK_DEDICATED_ROUTE = FALSE;
 NET "out_pixel[0]" LOC = "B5";
 NET "out_pixel[1]" LOC = "B6";
 NET "out_pixel[2]" LOC = "A7";
 NET "out_pixel[3]" LOC = "A8";
 NET "out_pixel[4]" LOC = "A9";
 NET "out_pixel[5]" LOC = "B10";
 NET "out_pixel[6]" LOC = "A12";
 NET "out_pixel[7]" LOC = "A13";
 NET "out_pclk"     LOC = "B14";
 NET "out_Hsync"    LOC = "B16";
 NET "out_Vsync"    LOC = "C16";
 NET "led1" LOC = "N5";
